<!DOCTYPE html>
<!--[if IE9]><html lang="en" class="ie-9"><![endif]-->
<!-- [if !IE9]>--><html lang="en" class="test"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/stylesheets/blog.css" />

    {{ghost_head}}
  </head>
  <body class="{{body_class}}">
    {{>header}}

    <main role="main">
      {{>blog-nav}}

      <div class="container-fluid">
        {{{body}}}
      </div>
    </main>

    {{>footer}}
    {{>analytics}}
  </body>
</html>
