<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/stylesheets/blog.css" />

    {{ghost_head}}
  </head>
  <body class="{{body_class}}">
    {{>mobile-nav}}
    {{>header}}
    <div class="site-wrapper">
      <main role="main">
        {{navigation}}
        {{{body}}}
      </main>
    </div>
    {{{block 'footer'}}}
    {{>analytics}}
    {{>javascripts}}
  </body>
</html>
